$white:                     #fff;
$white-light:               #f4f5f0;
$beige:                     #f2f0e8;
$gray-light:                #dfdcd5;
$gray-medium:               #9fa0a4;
$gray:                      #474b57;
$gray-dark:                 #3e4049;
$blue:                      #165ad1;
$dark-blue:                 #243994;
$darken-blue:               #223b65;
$primary-color:             $gray;
$secondary-color:           $white;
$hover-color:               $blue;


$font-size-base:            14px;

$line-height-base:          1.5em;


$sansus_webissimo:         'sansus_webissimo', sans-serif;
$Roboto:                   'Roboto', sans-serif;
$font-family-base:          $Roboto;


$light:                     300;
$regular:                   400;
$medium:                    500;
$bold:                      700;
$font-weight-base:          $regular;


$border-radius-base:        1px;


$screen-sm:                 576px;
$screen-md:                 768px;
$screen-lg:                 992px;
$screen-xl:                 1200px;

// ==================================================

// --- preloader ---
$count:                     10;
$time:                      2; //in seconds
$size:                      100;
$color:                     $secondary-color;

// --- body ---
$body-color:                $primary-color;
$body-font-family:          $font-family-base;
$body-font-size:            $font-size-base;
$body-font-weight:          $font-weight-base;
$body-line-height:          $line-height-base;
$body-bg:                   $beige;

// --- burger ---
$burger-bg:                 $secondary-color;
$burger-radius:             $border-radius-base;

// --- socials ---
$socials-color:             $secondary-color;
$socials-hover:             $hover-color;

// --- intro ---
$intro-color:               $secondary-color;

// --- triangle --- 
$triangle-fill:             $beige;

// --- about ---
$about-font-family:         $sansus_webissimo;

// --- progress-ring ---
$progress-ring-color:       $hover-color;

// --- contacts ---
$contacts__icon-color:      $blue;

// ---footer --- 
$footer-color:              $white;
$footer-top-bg:             $gray-dark;
$footer-bottom-bg:          $blue;
$footer-border-color:       $gray-medium;