.photo1 {
    position: relative;
    margin-bottom: rem(35px);

    &__inner {
        width: rem(140px);
        height: rem(140px);
        overflow: hidden;
        border-radius: 50%;
        position: relative;
    }

    &__img {
        position: absolute;
        top: 0;
        left: rem(-50px);
        height: 100%;
        width: auto;
    }

    &__svg {
        position: absolute;
        @include center(true);
        width: rem(300px);
        height: rem(200px);
        --svg-color: rgba(255, 255, 255, 0.2);
    }
}