.progress-ring {
    
    &__circle {
        transform-origin: center;
        transform: rotate(-90deg);
        transition: stroke-dashoffset 0.3s;

        stroke: $progress-ring-color;

        stroke-dasharray: 251 251; 
        stroke-dashoffset: calc(251 - (75 / 100 * 251));  //дл.окружности - нужный_процент / 100 * дл.окружности
    }

    &__circle-static {
        stroke: $gray-light;
    }

    &__name {
        @include center(true, true);
        font-weight: $medium;
        color: $progress-ring-color;
        text-align: center;
    }
}