.socials {
    display: flex;

    &__item {
        margin-right: rem(26px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        color: $socials-color;
        transition: color 0.3s linear;

        &:hover {
            color: $socials-hover;
        }
    }
}