{% set title = "About me" %}
{% extends "layouts/main.html" %}

{% block content %}
    <section class="about">
        <div class="container">
            <div class="about__wrap">
                <div class="about__me">
                    <h1 class="about__title">Обо мне</h1> 
                    <div class="about__photo">
                        <img src="../img/about/photo.jpg" alt="photo">
                    </div>
                    <h2 class="subtitle">Кто я</h2>
                    <p class="about__text">Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.</p>
                    <p class="about__text">Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!</p>
                </div>
                <div class="about__my-skills">
                    <h2 class="subtitle">Чем я могу быть вам полезен</h2>
                    <p class="about__text">Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.</p>

                    <h3 class="about__progress-title">Frontend</h3>
                    <div class="about__progress">
                        <div class="about__inner progress-ring">
                            <svg class="about__item progress-ring__item" width="120" height="120" viewBox="0 0 100 100">
                                <circle class="progress-ring__circle-static" stroke-width="20" cx="50" cy="50" r="40" fill="transparent" />
                                <circle class="progress-ring__circle" stroke-width="20" cx="50" cy="50" r="40" fill="transparent" />
                            </svg>
                            <p class="progress-ring__name">HTML5</p>
                        </div>
                        <div class="about__inner progress-ring">
                            <svg class="about__item progress-ring__item" width="120" height="120" viewBox="0 0 100 100">
                                <circle class="progress-ring__circle-static" stroke-width="20" cx="50" cy="50" r="40" fill="transparent" />
                                <circle class="progress-ring__circle" stroke-width="20" cx="50" cy="50" r="40" fill="transparent" />
                            </svg>
                            <p class="progress-ring__name">CSS3</p>
                        </div>
                        <div class="about__inner progress-ring">
                            <svg class="about__item progress-ring__item" width="120" height="120" viewBox="0 0 100 100">
                                <circle class="progress-ring__circle-static" stroke-width="20" cx="50" cy="50" r="40" fill="transparent" />
                                <circle class="progress-ring__circle" stroke-width="20" cx="50" cy="50" r="40" fill="transparent" />
                            </svg>
                            <p class="progress-ring__name">JavaScript & jQuery</p>
                        </div>
                    </div>
                    <input type="number" class="percent">
                </div>
            </div>
        </div>
    </section>
{% endblock %}