<footer class="footer"></footer>
<div class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__content">
                <div class="footer__links">
                    <a href="#" class="footer__link" target="_blank">Мои работы</a>
                    <a href="#" class="footer__link" target="_blank">Обо мне</a>
                    <a href="#" class="footer__link" target="_blank">Блог</a>
                    <a href="#" class="footer__link" target="_blank">Авторизация</a>
                </div>

                <ul class="socials footer__socials">
                    <li class="socials__item">
                        <a class="socials__link socials__link--gray" href="#" target="_blank"><span class="icon-vk"></span></a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link socials__link--gray" href="#" target="_blank"><span class="icon-github"></span></a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link socials__link--gray" href="#" target="_blank"><span class="icon-linkedin"></span></a>
                    </li>
                </ul>
            </div>
            <div class="footer__contacts">
                <a href="skype:+380931333239?call">sunburst1715_1</a>
                <a href="mailto:golovchenko.niki@gmail.com">golovchenko.niki@gmail.com</a>
                <a href="tel:+380931333239">+3 809 313 332 39</a>
                <a href="https://goo.gl/maps/JNU2mpcqeUWmgAtYA" target="_blank">Харьков</a>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <p>&copy; Головченко Никита</p>
            <p>Тренировочный проект <span class="footer__border-left">2019</span></p>
        </div>
    </div>
</div>