<header class="header">
    <div class="container">
        <div class="header__inner">
            <ul class="socials">
                <li class="socials__item">
                    <a class="socials__link" href="#" target="_blank"><span class="icon-vk"></span></a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="#" target="_blank"><span class="icon-github"></span></a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="#" target="_blank"><span class="icon-linkedin"></span></a>
                </li>
            </ul>

            <button type="button" class="burger" id="burger">
                <span class="burger__item"></span>
            </button>
        </div>
    </div>
</header>