<div class="intro">
    <video class="intro__video" src="../../media/intro-bg.mp4" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto"></video>
    <div class="intro__bg"></div>

    <div class="intro__content">

        <div class="photo1">
            <svg class="photo1__svg"><use xlink:href="#star1"></use></svg>
            <div class="photo1__inner">
                <img class="photo1__img" src="../../img/intro/intro-photo.jpg" alt="photo">
            </div>
        </div>
    </div>
    
</div>
