@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap&subset=cyrillic');

@font-face {
    font-family: 'sansus_webissimo';
    src: url('../../fonts/sansus-webissimo-regular-webfont.eot');
    src: url('../../fonts/sansus-webissimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/sansus-webissimo-regular-webfont.woff2') format('woff2'),
         url('../../fonts/sansus-webissimo-regular-webfont.woff') format('woff'),
         url('../../fonts/sansus-webissimo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}